:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: #ffffff;
  --page-background-color: #ffffff;
  --footer-section-color: #2f303a;
  --section-text-color-one: #e5e5e5;
  --section-text-color-two: #f5f4fa;
  --address-link-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header {
  color: var(--page-background-color);
  border-bottom: 1px solid #ececec;
  text-decoration: none;
}

.logo-part-one {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.logo-part-two {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.logo-part-three {
  color: var(--footer-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.site-nav .current {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.contact-info .link {
  color: var(--address-link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.contact-info .link:hover,
.contact-info .link:focus {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.project-link {
  color: var(--primary-text-color);
  cursor: none;
  text-decoration: none;
}

.main-nav,
.nav,
.site-nav,
.contact-info {
  display: flex;
}

.hero-title {
  font: 'Roboto';
  color: var(--footer-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.hero {
  background-color: var(--footer-section-color);
  text-align: center;
}

.button-primary {
  background-color: var(--accent-color);
  color: var(--footer-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}

.button-nav .button {
  color: var(--primary-text-color);
  background-color: var(--section-text-color-two);
}
.button-nav .button {
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-nav .current {
  background-color: var(--accent-color);
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-nav .button:hover,
.button-nav .button:focus {
  background-color: var(--accent-color);
  color: var(--footer-text-color);
}

.title-three {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.title-three-p {
  color: var(--address-link-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--section-text-color-two);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.profession {
  color: var(--address-link-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.project-example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-example-p {
  color: var(--address-link-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  background-color: var(--footer-section-color);
  font-size: 400;
  font-weight: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer .footer-address-info {
  color: var(--footer-text-color);
  font-size: 400;
  font-weight: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer .footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 400;
  font-weight: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
.footer .footer-link:hover,
.footer .footer-link:focus {
  color: var(--accent-color);
  font-size: 400;
  font-weight: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: var(--page-background-color);
}
.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: var(--footer-section-color);
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

.photo-caption {
  border-top: 0px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
