:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: #ffffff;
  --page-background-color: #ffffff;
  --footer-section-color: #2f303a;
  --section-text-color-one: #e5e5e5;
  --section-text-color-two: #f5f4fa;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primary-text-color);
}

.header {
  color: var(--page-background-color);
}

.logo-part-one {
  color: var(--accent-color);
  font: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.logo-part-two {
  color: var(--primary-text-color);
  font: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.logo-part-three {
  color: var(--footer-text-color);
  font: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.list {
  list-style: none;
}

.site-nav .link.current {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.contact-info .link {
  color: hsl(0, 0%, 13%);
  text-decoration: none;
}
.contact-info .link:hover,
.contact-info .link:focus {
  color: #2196f3;
  text-decoration: none;
}

.hero {
  background-color: var(--footer-section-color);
  color: var(--footer-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.button-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}
.button-primary {
  background-color: var(#f5f4fa);
}
.button-primary {
  cursor: pointer;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  color: var(--footer-text-color);
}

.button-nav .button {
  color: var(--primary-text-color);
  background-color: var(#f5f4fa);
}
.button-nav .button {
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
}
.button-nav .button {
  cursor: pointer;
}
.button-nav .button:hover,
.button-nav .button:focus {
  background-color: var(--accent-color);
  color: var(--footer-text-color);
}

.title-three {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.title-three-p {
  font-size: 14px;
  line-height: 1.71;
}
.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.project-example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-example-p {
  font-size: 16px;
  line-height: 1.87;
}

.address-info {
  color: var(--footer-text-color);
  font-size: 400;
  font-weight: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer {
  background-color: var(--footer-section-color);
}
.footer-link {
  color: var(--footer-text-color);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
